<h1>Natasha Shams </h1>

<head>
<style>
mark {
    background-color: green;
    color: white;
}
img{
	width: 30%;
	height: auto;
}
</style>
</head>

<br/>
<img src="/assets/me.jpg">
<br/>

<mark>Dallas, Texas</mark>

<br/>
<p>Senior</p>

<p style="color:red;"><strong>I play ultimate frisbee!</strong> </p>

<p style="color:DarkOrchid;"><u>I am most excited about learning more about why ruby does the things it does (why/how such magic happens)</u></p>

